@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  margin: 2em 0 4em;
}

.headline {
  font-family: var(--font-family-mono);
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.browseMoreNav {
  font-family:var(--font-family-mono);
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  @nest & a {
    display: inline-block;
    padding: 0.5rem;
    color: inherit;
    text-decoration:none;
    
    @media (hover: hover) {
      @nest &:hover {
        transition: all 0.2s ease;
        -webkit-animation: rainbowglitch 1s infinite;
        animation: rainbowglitch 1s infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        cursor: crosshair;
      }
    }
  }

}

.browseMoreNav a::after{
  content:' 🥕'
}

.browseMoreNav a:hover::after{
  animation: veggieshake 3s linear infinite alternate;
}

@keyframes veggieshake{
  0%{content:' 🍆'}
  10%{content:' 🥒'}
  20%{content:' 🌽'}
  30%{content:' 🥬'}
  40%{content:' 🥔'}
  50%{content:' 🍅'}
  60%{content:' 🍠'}
  70%{content:' 🌶️'}
  80%{content:' 🥦'}
  90%{content:' 🍄'}
  100%{content:' 🥕'}
  
}

@keyframes rainbowglitch {

  0% {
    background-color: rgb(255,214,214);
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  20% {
    background-color: rgb(250,255,176);
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  40% {
    background-color: rgb(192,255,182);
  }

  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  60% {
    background-color: rgb(208,221,255);
  }

  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    background-color: rgb	(225,191,255);
    transform: none;
    opacity: 1;
  }
  100% {
    background-color: rgb(255,214,214);
    transform: none;
    opacity: 1;
  }
}